@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Acesso Bloqueado";
}

<hgroup>
    <h1 class="text-danger">Acesso bloqueado</h1>
    <h2 class="text-danger">Seu acesso foi foi bloqueada por tentativas excessivas de acesso com dados incorretos, tente mais tarde.</h2>
</hgroup>
