@if (ViewBag.Resultado != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Resultado</h4>
        Valor calculado: @ViewBag.Resultado
    </div>

}
else
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Erro</h4>
        Algo deu errado em seu cálculo.
    </div>

}
